<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2> <%=@genre.name%> </h2>
<%Artwork.all.each do |artwork|%>
  <%if artwork.genre == @genre && artwork.collector == Helpers.current_user(session)%>
    <ul><a href='/artists/<%=artwork.artist.id%>'><%=artwork.artist.name%></a>:
    <a href='/artworks/<%=artwork.id%>'><%=artwork.title%></a></ul>
  <%else nil%>
    <%end%>
<%end%>


<br>
<br>

<form action='/genres/<%=@genre.id%>/delete' method='post'>
  <input id="hidden" type="hidden" name="_method" value="delete"/>
  <input type='submit' value='Delete Genre'>
</form>

<br>
<form action= '/genres' method='get'>
    <input type='submit' value='Show All Genres' />
  </form>
<form action= '/artworks' method='get'>
    <input type='submit' value='Show All Artworks' />
  </form>
<form action= '/artists' method='get'>
    <input type='submit' value='Show All Artists' />
  </form>
