<h2> <%=@genre.name%> </h2>
<%Artwork.all.each do |artwork|%>
  <%if artwork.genre == @genre && artwork.collector == Helpers.current_user(session)%>
      <a class="art-index-list" href='/artworks/<%=artwork.id%>'>
          <div>
            <img class="small-image" src="<%=artwork.image%>" alt="<%=artwork.title%>" />
              <br>
            <p><%=artwork.artist.name%></p>
            <p class="artwork-title"><%=artwork.title%></p>
          </div>
       </a>
    <%else nil%>
  <%end%>
<%end%>
