<h2> <%=@artist.name%> </h2>
<p> <%=@artist.bio%> </p>
<p> <%=@artist.associated_movements%></p>
<form action= '/artists/<%=@artist.id%>/edit' method='get'>
    <input type='submit' value='Edit Artist' />
  </form>
<h4>Artworks by <%=@artist.name%>:</h4>
<%Artwork.all.each do |artwork|%>
  <%if artwork.artist == @artist%>
    <ul>
      <%=artwork.artist.name%>:
      <a href='/artworks/<%=artwork.id%>'><%=artwork.title%></a> -
      <a href='/genres/<%=artwork.genre.id%>'><%=artwork.genre.name%></a>
    </ul>
    <%@artist.genres%>
  <%else nil%>
    <%end%>
<%end%>

<form action= '/genres' method='get'>
    <input type='submit' value='Show All Genres' />
  </form>
<form action= '/artworks' method='get'>
    <input type='submit' value='Show All Artworks' />
  </form>
<form action= '/artists' method='get'>
    <input type='submit' value='Show All Artists' />
  </form>
