<h3>Your Artworks:</h3>

  <%@artworks.each do |artwork|%>
    <%if artwork.collector == Helpers.current_user(session)%>
    <a class="art-index-list" href='/artworks/<%=artwork.id%>'>
        <div>
          <img class="small-image" src="<%=artwork.image%>" alt="<%=artwork.title%>" />
            <br>
          <p><%=artwork.artist.name%></p>
          <p class="artwork-title"><%=artwork.title%></p>
        </div>
     </a>
    <%end%>
  <%end%>

<br>

<h4>Add to your collection!</h4>

<form action= '/artworks/new' method='get'>
    <input type='submit' value='Add New Artwork' />
  </form>

<br><br>

<form action= '/genres' method='get'>
    <input type='submit' value='Show All Genres' />
  </form>

<form action= '/artists' method='get'>
    <input type='submit' value='Show All Artists' />
  </form>
