<h2>Add a new work to your collection:</h2>
<form action="/artworks" method="POST">
  <h4>Title: <input type="text" name="title" placeholder="Title"></h4>
	<h4>Year: <input type="text" name="year" placeholder="Year Created"></h4>

  <h4><label>Choose Artist: </label></h4>
  <%Artist.all.each do |artist|%>
  <label><%=artist.name%></label>
  <input id='artist_<%=artist.id%>' type='checkbox' name='artwork[artist][]' value='<%= artist.id %>'>
  <%end%>

  <br>

  <label>Add New Artist:</label>
  <input id='new_artist' type='text' name='artist[name]' placeholder="New Artist"></br>


  <h4>Medium: <input type="text" name="materials" placeholder="Medium"></h4>

  <h4><label>Choose Genre: </label></h4>
  <%Genre.all.each do |genre|%>
  <label><%=genre.name%></label>
  <input id='genre_<%=genre.id%>' type='checkbox' name='artwork[genre][]' value='<%= genre.id %>'>
  <%end%>
  <br>

  <br>


	<input type="submit" value="Add Artwork">
</form>
