<h2>Add a new work to your collection:</h2>
<form action="/artworks" method="POST">
  <h4>Title: <input type="text" name="title" placeholder="Title"></h4>
	<h4>Year: <input type="text" name="year" placeholder="Year Created"></h4>

  <h4><label>Choose Artist: </label></h4>
  <%Artist.all.each do |artist|%>
  <label><%=artist.name%></label>
  <input id='artist_<%=artist.id%>' type='checkbox' name='artwork[artist][]' value='<%= artist.id %>'>
  <%end%>

  <br>

  <label>Add New Artist:</label>
  <input id='new_artist' type='text' name='artist[name]'></br>


  <h4>Materials: <input type="text" name="materials" placeholder="Materials"></h4>

  <h4><label>Choose Medium: </label></h4>
  <%Medium.all.each do |medium|%>
  <label><%=medium.type%></label>
  <input id='medium_<%=medium.id%>' type='checkbox' name='artwork[medium][]' value='<%= medium.id %>'>
  <%end%>

  <br>


	<input type="submit" value="Add Artwork">
</form>
