<h2>Edit Artwork</h2>

<form method="post" action="/artworks/<%=@artwork.id%>">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <h4>Title:
        <br>
      <input type="text" name='artwork[title]' value="<%=@artwork.title%>">
    </h4>

    <h4>Year:
        <br>
      <input type="text" name="artwork[year]" value="<%=@artwork.year%>">
    </h4>

    <h4>Medium:
        <br>
      <input type="text" name="artwork[materials]" value="<%=@artwork.materials%>">
    </h4>

    <br>
    <br>

    <h3>Edit Artist </h3>
    <% @artists.each do |artist| %>
      <ul>
        <p>
          <input type="checkbox" name="artwork[artist_id]" id="<%= artist.id%>" value="<%= artist.id%>"
              <%= 'checked' if @artwork.artist == artist %> />
            <%= artist.name%>
        </p>
      </ul>
    <% end%>

    <br>

    <p>
      <label> Add New Artist:</label>
        <br>
      <input type='text' name="artist[name]" id="new_artist">
    </p>

    <br>

    <h3> Edit Genre:</h3>

    <% @genres.each do |genre| %>
    <ul>
      <p>
        <input type="checkbox" name="artwork[genre_id]" id="<%=genre.id%>" value="<%=genre.id%>"
          <%='checked' if @artwork.genre == genre %> />
          <%=genre.name%>
        </p>
      </ul>
    <% end%>

    <br>

    <p>
      <label>Add New Genre:</label>
        <br>
      <input type='text' name="genre[name]" id="new_genre">
    </p>

    <br>

    <h4>Image Link:
      <br>
      <input type="text" name="artwork[image]" value="<%=@artwork.image%>">
    </h4>

    <br>

    <input type="submit" value="Edit Artwork">
  </form>
